build-Calculator-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/
build-Notepad-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
build-playingWithCharts-Desktop_Qt_5_12_3_MinGW_64_bit-Debug/
build-qtTest-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/